h1,
h2 {
  font-weight: var(--dmd-font-weight-base);
}

a {
  text-underline-offset: 0.2em;
}

a.active {
  color: var(--dmd-theme-color);
  text-decoration: none;
}

.giant-icon {
  font-size: 5.5em;
}

code:not(code[class*="language-"]) {
  background: var(--color-blue-darker);
  border: var(--dmd-border);
  font-size: var(--dmd-font-size-sm);
}
