[hidden] {
  display: none !important;
}

h1,
h2,
h3 {
  font-weight: var(--diamond-font-weight-base);
}

a {
  text-underline-offset: 0.2em;
}

a.active {
  text-decoration: none;
  color: var(--diamond-theme-color);
}

.logo {
  display: inline-block;
  margin-left: .1em;
  vertical-align: middle;
  transform: translateY(-18%);
  width: 3.5rem;
}