h1,
h2,
h3 {
  font-weight: var(--diamond-font-weight-base);
}

a {
  text-underline-offset: 0.2em;
}

a.active {
  text-decoration: none;
  color: var(--diamond-theme-color);
}

.giant-icon {
  font-size: 5.5em;
}