:root {
  --dmd-button-primary-background: var(--color-blue);
  --dmd-button-primary-background-hover: color-mix(
    in srgb,
    var(--color-blue),
    var(--dmd-color-black) 10%
  );
  --dmd-button-primary-color: var(--dmd-color-white);
}
