:root {
  --diamond-button-primary-background: var(--color-blue);
  --diamond-button-primary-background-hover: color-mix(
    in srgb,
    var(--color-blue),
    var(--diamond-color-black) 10%
  );
  --diamond-button-primary-color: var(--diamond-color-white);
}
