:root {
  --color-white: #ffffff;

  --color-gray: #bdbdbd;

  --color-blue-darkest: #112233;
  --color-blue-darker: #223344;
  --color-blue-dark: #334455;
  --color-blue: #0066ff;
  --color-blue-light: #77aaff;
  --color-blue-lightest: #ccddff;

  --color-red: #ff4488;
  --color-green: #44ff88;
}

.text-color-red {
  color: var(--color-red);
}

.text-color-green {
  color: var(--color-green);
}