:root {
  --color-white: #fff;

  --color-gray: #bdbdbd;

  --color-blue-darkest: #123;
  --color-blue-darker: #234;
  --color-blue-dark: #345;
  --color-blue: #06f;
  --color-blue-light: #7af;
  --color-blue-lightest: #cdf;

  --color-red: #f48;
  --color-green: #4f8;
}

.text-color-blue {
  color: var(--color-blue);
}

.text-color-red {
  color: var(--color-red);
}

.text-color-green {
  color: var(--color-green);
}
