@import 'npm:@etchteam/diamond-ui/diamond-ui.css';
@import './font.css';
@import './theme.css';

:root {
  --color-black: #1d131e;
  --color-grey: #f6f6f1;
  --color-white: #ffffff;

  --color-blue: #0066ff;
  --color-light-blue: #669abf;
  --color-red: #b03d5b;

  --diamond-spacing-lg: 1.5rem;

  --diamond-font-line-height: 1.6;
  --diamond-font-line-height-sm: 1.15;
  --diamond-font-line-height-heading: var(--diamond-font-line-height-sm);

  --diamond-font-size-default: 1rem;
  --diamond-font-size-xs: 0.563rem;
  --diamond-font-size-sm: 0.75rem;
  --diamond-font-size-base: 1rem;
  --diamond-font-size-md: 1.333em;
  --diamond-font-size-lg: 1.777em;
  --diamond-font-size-xl: 2.369em;
  --diamond-font-size-xxl: 3.157em;
  --diamond-font-size-xxxl: 4.209em;

  --diamond-font-size-h1: 3.157rem;
  --diamond-font-size-h2: 2.369rem;
  --diamond-font-size-h3: 1.777rem;
  --diamond-font-size-h4: 1.333rem;

  --diamond-button-padding-inline: var(--diamond-spacing-lg);

  --diamond-button-background: var(--color-white);
  --diamond-button-background-hover: var(--color-white);
  --diamond-button-background-disabled: var(--color-grey);
  --diamond-button-border-color: var(--color-blue);
  --diamond-button-border-color-hover: var(--color-blue);
  --diamond-button-border-color-disabled: var(--color-grey);
  --diamond-button-color: var(--color-blue);
  --diamond-button-color-hover: var(--color-blue);
  --diamond-button-color-disabled: var(--color-grey);

  --diamond-button-primary-background: var(--color-blue);
  --diamond-button-primary-background-hover: var(--color-blue);
  --diamond-button-primary-background-disabled: var(--color-grey);
  --diamond-button-primary-border-color: transparent;
  --diamond-button-primary-border-color-hover: transparent;
  --diamond-button-primary-border-color-disabled: transparent;
  --diamond-button-primary-color: var(--color-white);
  --diamond-button-primary-color-hover: var(--color-white);
  --diamond-button-primary-color-disabled: var(--color-white);
}

@media (width >= 768px) {
  :root {
    --diamond-font-size-h1: 5.61rem;
    --diamond-font-size-h2: 3.157rem;
    --diamond-font-size-h3: 1.777rem;
    --diamond-font-size-h4: 1.333rem;
  }
}

nav-bar {
  border-bottom: .125rem solid rgba(0, 0, 0, 0.05);
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}

overflow-carousel {
  display: block;
  overflow-x: auto;
}

overflow-carousel-content {
  display: block;
  min-width: 1024px;
  overflow: hidden;
}