@import 'npm:@etchteam/diamond-ui/diamond-ui.css';
@import 'npm:highlight.js/styles/default.css';
@import './font.css';
@import './theme.css';

:root {
  --color-blue: #0066ff;
  --color-blue-light: #f2f7ff;
  --color-gray: #bdbdbd;

  --diamond-font-family: 'Nunito sans', -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

  --diamond-font-size-h1: clamp(2rem, 10vw, 4rem);

  --diamond-input-border-color: var(--color-gray);
  --diamond-input-border-color-hover: var(--color-blue);

  --diamond-button-primary-background: var(--color-blue);
  --diamond-button-primary-background-hover: color-mix(in srgb, var(--color-blue), var(--diamond-color-black) 10%);
  --diamond-button-primary-color: var(--diamond-color-white);

  --diamond-theme-link-color: var(--color-blue);

  --diamond-spacing-fluid-sm: clamp(1rem, 2.5vw, 3rem);
}

h1 {
  --diamond-theme-heading-color: var(--color-blue);
}

h1,
h2 {
  font-weight: var(--diamond-font-weight-black);
}

.logo {
  display: inline-block;
  margin-left: .1em;
  vertical-align: middle;
  transform: translateY(-18%);
  width: 3.5rem;
}