:root {
  --dmd-theme-background: var(--color-blue-darkest);
  --dmd-theme-color: var(--color-blue-lightest);
  --dmd-theme-heading-color: var(--color-white);
  --dmd-theme-link-color: var(--color-blue-light);
  --dmd-theme-border-color: var(--color-blue-dark);
  --dmd-theme-background-muted: var(--color-blue-darker);
  --dmd-theme-border-color-hover: var(--color-blue-light);
}

.theme-medium {
  --dmd-theme-background: var(--color-blue-darker);
  --dmd-theme-background-muted: var(--color-blue-dark);
}
