@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fade-in {
  animation: fadein 0.75s var(--diamond-transition-timing) forwards;
  opacity: 0;
}

.fade-in-delay {
  animation-delay: 0.75s;
}

.fill {
  display: grid;
  height: 100%;
}

.text-title-case {
  text-transform: capitalize;
}

.longform {
  img, pre[class*=language-], .cp_embed_wrapper {
    margin-block: var(--diamond-spacing-lg);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}